.idea/
.venv/
.vs/
.vscode/
.gradle/
.claude/
__pycache__
/[Bb]uild
[Oo]ut/**
CMakeUserPresets.json
[Cc]ache/
/[Ii]nstall/
**/*egg-info/**
**/*egg-link
**/[Rr]estricted
[Uu]ser/
FrameCapture/**
.DS_Store
user*.cfg
client*.cfg
server*.cfg
CLAUDE.md
.mayaSwatches/
_savebackup/
*.swatches
/imgui.ini
.command_settings
CrashDB/

3rdParty/SteamAudio/*/*/*
!3rdParty/SteamAudio/*/lib/*
3rdParty/SteamAudio/*/lib/*/*
!3rdParty/SteamAudio/*/symbols/*
3rdParty/SteamAudio/*/symbols/*/*